<!DOCTYPE html>
<html>

<head>
	<title>Dan's Map</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
	<style>

html, body {
	height: 100%;
	margin: 0;
}

	</style>
</head>
<body>
	<div id='map' style='height: 100%; z-index: 0'></div>
	<div style='position: absolute; left: 0; top: 75%; width: 100%; height: 25%; z-index: 1; background-color: rgba(0, 0, 0, 0.5)'>
		<button type='button' onclick='map.locate()'>to me</button>
	</div>
	<div style='display: none;'>
		<form id='note_new' method='post' action='/note_new'>
			{% csrf_token %}
		</form>
	</div>
	<script>

var map=L.map('map').setView([45, 0], 2);
var loc=null;

L.tileLayer(
	'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
	{
		maxZoom: 18,
		id: 'mapbox.streets',
	}
).addTo(map);

map.on('locationfound', function(evt){
	var r=evt.accuracy/2;
	if(!loc) loc=L.circle(evt.latlng, r).addTo(map);
	else loc.setLatLng(evt.latlng).setRadius(r);
	map.setView(evt.latlng, 13);
});
map.on('locationerror', function(evt){
	console.log(evt.code+': '+evt.message);
});
map.locate();

function e(id){ return document.getElementById(id); }

function request(action, method, body){
	var r={
		method: method,
		credentials: 'same-origin',
		headers: {'X-CSRFToken': e('note_new').children[0].value},
	};
	if(body) r.body=JSON.stringify(body);
	return fetch(window.location.href+action, r);
}

function addNote(latlng, text){
	var marker=L.marker(latlng);
	marker.bindTooltip(text, {permanent: true}).openTooltip();
	marker.addTo(map);
}

map.on('click', function(evt){
	var description=prompt("What's up?");
	if(!description) return;
	request('note_new', 'POST', {
		text: description,
		latitude: evt.latlng.lat,
		longitude: evt.latlng.lng,
	});
	addNote(evt.latlng, description);
});

request('note_get', 'GET').then(function(response){
	return response.json();
}).then(function(notes){
	for(var i=0; i<notes.length; ++i){
		addNote(L.latLng(notes[i].latitude, notes[i].longitude), notes[i].text);
	}
});

	</script>
</body>

</html>
